# --- Qt build directories ---
build/
build-*/
*.pro.user*
.qmake.stash
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# --- Compiled Object files ---
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# --- Compiled Libraries & Executables ---
*.lib
*.a
*.la
*.loT
*.lai
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# --- IDE and Editor files ---
.vscode/
.idea/
*.user